body{
    background-image: url("https://static8.depositphotos.com/1001435/1011/i/600/depositphotos_10113890-stock-photo-happy-man-outdoor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:black
}
p{
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace; 
    color:black;
}
.col-md-4 p{
    font-family: 'Enriqueta', serif;
    
}
.col-md-4 li{
    font-family: 'Courier New', Courier, monospace ;
}
h2{
    font-family: 'Courier New', Courier, monospace; 
    color: coral; 
}
span{
    color: rgb(250, 247, 245);
}
h1:hover{
    color: coral;
}
span:hover{
    color: black;
}
label{
    color: white;
}
li{
    color: black;

}
.class-md-4{
    position: absolute;
    right: 500px;
    width: 300px;
    height: 120px;
    bottom: 180px;
}